* {
    padding: 0;
    border: 0;
    outline: 0;
}

:root {
    --azul-mais-claro: #6382fb;
    --azul-claro: #4b6bde;
    --azul-normal: #2c4dc9;
    --azul-escuro: #233e9e;
}

#bloco_escalacao {
    opacity: 0;
}