<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/config.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='images/logo1.png') }}">
    <script src="{{ url_for('static', filename='js/config.js') }}" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartola Champagnat</title>
</head>
<body>
    <div id="blur">
        <div class="repeat"></div>
        <form action="{{ url_for('config') }}" method="POST" enctype="multipart/form-data" id="form" class="form">
            <i class="fa fa-arrow-left" id="icon" ></i>
            <div class="align">
                <div class="profile">
                    <img src ="{{url_for('static',filename='images/profilePicture.png')}}" class="profile-picture" id="profile-picture">
                    <input type="file" id="inp_foto_perfil" accept="image/jpeg,image/png" class="plus" name="imagem" required>
                    <label class="username">Nome de Usuário</label> 
                </div>
                <div class="radios">
                    <div class="radio">
                        <input class="input_esporte" id="modalidade_feminina" name="modalidade" type="radio" value="F">
                        <label for="modalidade_feminina">Modalidade feminina</label>
                    </div>
                    <div class="radio">
                        <input class="input_esporte" id="modalidade_masculina" name="modalidade" type="radio" value="M">
                        <label for="modalidade_masculina">Modalidade masculina</label>
                    </div>
                    <div class="radio">
                        <input class="input_esporte" id="nao_jogador" name="modalidade" type="radio" value="E" checked>
                        <label for="nao_jogador">Não sou jogador(a)</label>
                    </div>
                </div>
                <fieldset class="modalidades">
                    <legend style="font-family: 'Open Sans', sans-serif; font-weight: bold; color: #0f3b5e">Inscrever-se como jogador(a):</legend>
                    
                    <div class="mod_checkbox">
                        <input class="inp_esporte_selecionado input_esporte" id="esporte1" name="esportes_selecionados" value="futsal_feminino" type="checkbox" disabled>
                        <label id="label_esporte1" for="esporte1">Futsal feminino</label>
                    </div>
                    <div class="mod_checkbox" style="display: flex; align-items: center;">
                        <a style="font-size: 15px;color:#0f3b5e">-</a>
                        <input id="input_posicao" type="checkbox" name="posicao1" value="true"/>
                        <label for="input_posicao">sou goleiro</label>
                    </div> 
                    <div class="mod_checkbox">
                        <input class="inp_esporte_selecionado input_esporte" id="esporte2" name="esportes_selecionados" value="handebol" type="checkbox" disabled>
                        <label id="label_esporte2" for="esporte2">Handebol</label>
                    </div>
                    <div class="mod_checkbox" style="display: flex; align-items: center;">
                        <a style="font-size: 15px;color:#0f3b5e">-</a>
                        <input id="input_posicao2" type="checkbox" name="posicao2" value="true"/>
                        <label for="input_posicao2">sou goleiro</label>
                    </div> 
                
                </fieldset>
                <button type="submit" id="btn_submit">
                    <label class="btn_text">Salvar</label>
                </button>
            </div>
        </form>
    </div>
    <div class="popUp" id="popUp">
        <i class="fa fa-arrow-left" id="icon"></i>
        <div class="warning-align">
            <img src="{{ url_for('static', filename='images/warning.png') }}">
            <p class="normal">Você só pode alterar as suas configurações de jogador <span class="destacado">UMA VEZ</span>. Verifique se preencheu corretamente.</p>
            <button>
                <label class="btn_text">Continuar</label>
            </button>
        </div>
    </div>
</body>
</html>
</html>
