<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/configuracoes.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='logo1.png') }}">
    <script src="{{ url_for('static', filename='js/configuracoes.js') }}" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <title>Configurações</title>
    <script>
    var booleanNaoCadastrouEsportes

    if ('{{ nao_cadastrou_esportes }}' == "True") {
        booleanNaoCadastrouEsportes = true
    }
    else {
        booleanNaoCadastrouEsportes = false
    }
    const naoCadastrouEsportes = booleanNaoCadastrouEsportes

    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
    </script>
</head>
<body>
    <div id="blur">
        <div class="repeat"></div>
        <form action="{{ url_for('configuracoes') }}" method="POST" enctype="multipart/form-data" id="myform" class="form">
            <i class="fa fa-arrow-left icon" id="voltar_index"></i>
            <div class="align">
                <div class="profile">
                    <img src ="data:imagem/png;base64, {{ imagem_b64 }}" class="profile-picture" id="profile-picture">
                    {% if tem_foto_de_perfil_default %}
                        <input type="file" id="inp_foto_perfil" accept="image/jpeg,image/png" class="plus" name="imagem" required>
                    {% else %}
                        <input type="file" id="inp_foto_perfil" accept="image/jpeg,image/png" class="plus" name="imagem" required>
                    {% endif %}
                    <label id="username">{{ nome }}</label>
                </div>
                {% if nao_cadastrou_esportes %}
                    <fieldset id="fieldset_principal">
                        <legend>Inscrever-se como jogador(a):</legend>
                        <div class="radios">
                            <div class="radio">
                                <input class="input_esporte" id="modalidade_feminina" name="modalidade" type="radio" value="F">
                                <label for="modalidade_feminina">Modalidade feminina</label>
                            </div>
                            <div class="radio">
                                <input class="input_esporte" id="modalidade_masculina" name="modalidade" type="radio" value="M">
                                <label for="modalidade_masculina">Modalidade masculina</label>
                            </div>
                            <div class="radio">
                                <input class="input_esporte" id="nao_jogador" name="modalidade" type="radio" value="E" checked>
                                <label for="nao_jogador">Não sou jogador(a)</label>
                            </div>
                        </div>
                        <fieldset class="modalidades" id="myfieldset">
                        </fieldset>
                        <input class="inp_secreto" id="input_posicao_esporte1_form" type="checkbox" name="goleiro" value="true" style="display: none">
                        <input class="inp_secreto" id="input_posicao_esporte2_form" type="checkbox" name="goleiro" value="true" style="display: none">
                        <input class="inp_secreto" id="esporte1_form" name="esportes_selecionados" value="futsal_feminino" type="checkbox" style="display: none">
                        <input class="inp_secreto" id="esporte2_form" name="esportes_selecionados" value="handebol" type="checkbox" style="display: none">
                    </fieldset>
                {% endif %}

                <button type="button" id="btn_submit">
                    <label class="btn_text">Salvar</label>
                </button>
            </div>
            <div id="matricula">{{ matricula }}</div>
        </form>
    </div>
    <div class="popUp" id="popUp">
        <i class="fa fa-arrow-left icon" id="sair_aviso"></i>
        <div class="warning-align">
            <img src="{{ url_for('static', filename='warning.png') }}">
            <p class="normal">Você só pode alterar as suas configurações de jogador <span class="destacado">UMA VEZ</span>. Verifique se preencheu corretamente.</p>
            <button id="submit">
                <label class="btn_text">Continuar</label>
            </button>
        </div>
    </div>
</body>
</html>
