<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='logo1.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartola Champagnat</title>
    <script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });

    const mercado_aberto = {
    "futsal_masculino": '{{ mercado_aberto["futsal_masculino"] }}',
    "futsal_feminino": '{{ mercado_aberto["futsal_feminino"] }}',
    "basquete": '{{ mercado_aberto["basquete"] }}',
    "handebol": '{{ mercado_aberto["handebol"] }}'
    }
    </script>
</head>
<body>
    <div id="container_loading_screen">
        <img src="{{  url_for('static', filename='loading_symbol.png')  }}" id="loading_symbol"/>
    </div>
    <div class="profile-bar-container">
        <div class="profile-bar">
            <div class="profile">
                <img id="profile-picture" class="profile-picture" src="{{ foto_de_perfil }}">
                <span class="nome-so-de-bonito">{{ nome_de_usuario }}</span>
                {% if ADM %}
                    <i class="fa fa-solid fa-user-tie icon" id="admin"></i>
                {% endif %}
            </div>
            <i id="icon" class="fa fa-solid fa-gear icon"></i>
        </div>
        <div class="placar">
            <i class="fa fa-trophy icon" id="trophy"></i>
        </div>
    </div>
    <div class="repeat" >
    </div>
    <div class="container" id="container">
        <div class="buttons-collunm" id="bloco_escolha_do_esporte">
            <button class="futMascBut btn_escolhe_esporte" id="btn_escolhe_futsal_masc" onmouseenter="hover_btn('futMascBut', '1')" onmouseleave="unhover_btn('futMascBut', '1')" onclick="escalacao('futsal_masculino')">
                <img class="btnDetail" id="dtl1" src="{{ url_for('static',filename='btnDetail.png')}}">
                <a class="futMascText" id="futMascText">Futsal Masculino</a>
                <img class="btnDetail2" id="dtl1-2" src="{{ url_for('static',filename='btnDetail.png')}}">
            </button>
            <button class="futFemBut btn_escolhe_esporte" id="btn_escolhe_futsal_fem" onmouseenter="hover_btn('futFemBut', '2')" onmouseleave="unhover_btn('futFemBut', '2')" onclick="escalacao('futsal_feminino')">
                <img class="btnDetail" id="dtl2" src="{{ url_for('static',filename='btnDetail.png')}}">
                <a class="futFemText" id="futFemText" >Futsal Feminino</a>
                <img class="btnDetail2" id="dtl2-2" src="{{ url_for('static',filename='btnDetail.png')}}">
            </button>
            <button class="handBut btn_escolhe_esporte" id="btn_escolhe_handebol" onmouseenter="hover_btn('handBut', '3')" onmouseleave="unhover_btn('handBut', '3')" onclick="escalacao('handebol')">
                <img class="btnDetail" id="dtl3" src="{{ url_for('static',filename='btnDetail.png')}}">
                <a class="handText" id="handText">Handebol</a>
                <img class="btnDetail2" id="dtl3-2" src="{{ url_for('static',filename='btnDetail.png')}}">
            </button>
            <button class="basketBut btn_escolhe_esporte" id="btn_escolhe_basquete" onmouseenter="hover_btn('basketBut', '4')" onmouseleave="unhover_btn('basketBut', '4')" onclick="escalacao('basquete')">
                <img class="btnDetail" id="dtl4" src="{{ url_for('static',filename='btnDetail.png')}}">
                <a class="basketText" id="basketText">Basquete</a>
                <img class="btnDetail2" id="dtl4-2" src="{{ url_for('static',filename='btnDetail.png')}}">
            </button>
        </div>
        <div id="bloco_escalacao"></div>

    </div>
<form action="{{ url_for('index') }}" method="post" id="myform">
    <input type="text" id="form_data" name="data">
</form>
</body>
</html>
