<!DOCTYPE html>
<html lang="pt">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='cartola.png') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Cartola Champagnat</title>
</head>
<body>

    <div id="bloco_perfil">
        <div style="display: flex;flex-direction: row;align-items: center;">
            <img id="img_perfil" src="data:image/png;base64, {{ foto_de_perfil }}">
            <span id="nome_usuario">{{ nome_de_usuario }}</span>
        </div>
        <a href="/configurações" id="configuracoes_redirect">⚙️</a>
    </div>

    <div id="bloco_escolha_do_esporte">
        <button id="btn_escolhe_futsal_masc" class="btn_escolhe_esporte" onclick="escalacao('futsal_masculino')">Futsal Masculino</button>
        <button id="btn_escolhe_futsal_fem" class="btn_escolhe_esporte" onclick="escalacao('futsal_feminino')">Futsal Feminino</button>
        <button id="btn_escolhe_basquete" class="btn_escolhe_esporte" onclick="escalacao('basquete')">Basquete</button>
        <button id="btn_escolhe_handebol" class="btn_escolhe_esporte" onclick="escalacao('handebol')">Handebol</button>
    </div>
    <div id="bloco_escalacao">
    </div>
</body>
</html>