<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="icon" href="{{ url_for('static', filename='logo1.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&family=Signika:wght@300..700&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/leaderboards.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboards.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartola Champagnat</title>
    <script>
        const africaPoints = {{ pontos_equipes["africa"] }}
        const asiaPoints = {{ pontos_equipes["asia"] }}
        const americaPoints = {{ pontos_equipes["america"] }}
    </script>
</head>
<body>
    <div class="container">
        <div class="tab_box">
            <button class="tab_btn"><p>Times</p></button>
            <button class="tab_btn"><p>Cartoleiros</p></button>
            <div class="line"></div>
        </div>
        <div class="content_box">
            <div class="content active">
                <div class="time_bars">
                    <div class="africa">
                        <div class="africaBar barra_pontos_equipes">
                            {% for numero in pontos_equipes_str["africa"] %}
                                <span>{{ numero }}</span>
                            {% endfor %}
                        </div>
                        <img src="{{url_for('static', filename='africa.png')}}" class="img">
                    </div>
                    <div class="asia">
                        <div class="asiaBar barra_pontos_equipes">
                            {% for numero in pontos_equipes_str["asia"] %}
                                <span>{{ numero }}</span>
                            {% endfor %}
                        </div>
                        <img src="{{url_for('static', filename='asia.png')}}" class="img">
                    </div>
                    <div class="america">
                        <div class="americaBar barra_pontos_equipes">
                            {% for numero in pontos_equipes_str["america"] %}
                                <span>{{ numero }}</span>
                            {% endfor %}
                        </div>
                        <img src="{{url_for('static', filename='america.png')}}" class="img">
                    </div>
                </div>
                <i class="fa fa-arrow-right" id="icon1" ></i>
            </div>
            <div class="content">
                <i class="fa fa-arrow-left" id="icon2"></i>
                <div class="cartoleiros">
                    {% for posicao in dados %}
                        <div class="cartoleiroBar">
                            <div class="profile">
                                <img src="{{ dados[posicao][2] }}" class="profilePicture">
                                <p>{{ dados[posicao][0] }}</p>
                            </div>
                            <div class="profileDetail">
                                <div class="points">
                                    <p>{{ dados[posicao][3] }}</p>
                                </div>
                                <img src="static/{{ dados[posicao][1] }}.png">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="logo_container">
        <img src="{{url_for('static', filename='leaderboardlogo.png')}}"  >
    </div>
</body>
</html>