<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo1.png') }}">
    <script src="{{ url_for('static', filename='js/login.js') }}" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Cartola Champagnat</title>
</head>
<body id="body">
        <div class="logo-row">
            <img src="{{ url_for('static', filename='logo1.png') }}" class="logo-icon"/>
            <img src="{{ url_for('static', filename='logo2.1.png') }}" class="logo-text"/>
        </div>
        <form action="{{ url_for('login') }}" method="post">
            <div id="form" class="form">
                <span style="position: absolute;margin-top: 215px;top:0px;bottom: 0px; margin-down: auto;color: #ffc835;font-family:arial;font-weight: bold;z-index:1;text-shadow: #c16359 -2px 2px">{{ erro }}</span>
                <img src="{{ url_for('static', filename='detail1.png') }}" class="detail1" id="detail1"/>
                <img src="{{ url_for('static', filename='detail2.png') }}" class="detail2" id="detail2"/>
                <img src="{{ url_for('static', filename='detail3.png') }}" class="detail3" id="detail3"/>
                <img src="{{ url_for('static', filename='detail3.png') }}" class="detail4" id="detail4"/>
                <div class="input-colunm" id="input-colunm">
                    <div id="bloco_login_inputs">
                        <input name="usuario" type="text" placeholder="Número de matrícula" class="input" id="matrícula" required>
                        <input name="senha" type="password" placeholder="Senha" class="input" id="password" maxlength="8" required>
                        <input type="text" placeholder="Nome" class="input" id="inp_nome_login_aparente"/>
                        <input name="nome" id="inp_nome_login_form" style="display: none" required value="None">
                        <i id="eye-icon" class="fas fa-eye-slash" style="z-index: 2"></i>
                    </div>
                    <button class="sign-up" id="button" type="submit" name="signup" value="true" style="z-index: 1">
                        <b class="sign-up-text">Registrar</b>
                    </button>
                    <div class="have-an-account">
                        <span class="have-an-account-text" id="introdutor_trocar_signin_signup">Já possui uma conta?</span>
                        <button class="have-an-account-link" id="trocar_signin_signup" style="border: none;background: transparent;z-index: 1" type="button">Sign in</button>
                    </div>
                </div>
            </div>
        </form>
</body>
</html>
